:root {
  --input-padding-x: 16;
  --input-padding-y: 10;
  --input-color: var(--color-text);
  --input-background-color: var(--contrast-lightest);

  --button-color: var(--color-text);
  --button-background-color: var(--contrast-lighter);
  --button-hover-background-color: var(--contrast-light);
}

%button {
  appearance: none;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  border-radius: 1px;
  cursor: pointer;
  display: inline-block;
  line-height: (20/16);
  padding: rem(var(--input-padding-y)) rem(var(--input-padding-x));
  transition: border-color 0.1s, background-color 0.1s, box-shadow 0.1s;

  &:focus,
  &:hover {
    text-decoration: none;
    background-color: var(--button-hover-background-color);
  }

  &[disabled] {
    pointer-events: none;
    color: var(--contrast-light);
  }

  @include focus-shadow();
}

button,
.button {
  @extend %button;
}

input[type='text'],
input[type='email'],
input[type='search'],
textarea {
  appearance: none;
  box-shadow: none;

  &::-ms-clear {
    display: none;
  }
}

input {
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--contrast-lighter);
  border-radius: 1px;
  line-height: (20/16);
  padding: rem(var(--input-padding-y)) rem(var(--input-padding-x));
  transition: border-color 0.1s, background-color 0.1s, box-shadow 0.1s;

  &:focus,
  &:hover {
    border-color: var(--color-key);
  }

  @include focus-shadow();
}

input[type='date'],
input[type='time'] {
  --input-padding-x: 12;
  appearance: none;
  min-height: calc((20em / 16) + (10rem / 16));

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: 0;
    margin: 0;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  &::-webkit-datetime-edit-minute-field,
  &::-webkit-datetime-edit-hour-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-year-field {
    padding: 0 2px;
  }
}

%placeholder {
  color: inherit;
  opacity: (2/5);
}

::placeholder {
  @extend %placeholder;
}
