:root {
  --controls-radius: 2px;

  --input-padding-x: 15;
  --input-padding-y: 10;
  --input-color: var(--color-text);
  --input-background-color: var(--contrast-lighter);

  --button-padding-x: 18;
  --button-padding-y: 10;

  --button-color: var(--color-b600);
  --button-background-color: var(--color-b200);
  --button-hover-background-color: var(--color-b300);
  --button-focus-color: var(--color-focus);

  --button-primary-color: var(--color-white);
  --button-primary-background-color: var(--color-b500);
  --button-primary-hover-background-color: var(--color-b600);

  --button-bad-color: var(--color-r600);
  --button-bad-background-color: var(--color-r200);
  --button-bad-hover-background-color: var(--color-r300);
}

%button {
  --color: var(--button-color);
  --background-color: var(--button-background-color);
  --hover-background-color: var(--button-hover-background-color);
  --focus-color: var(--button-focus-color);
  --padding-x: var(--button-padding-x);
  --padding-y: var(--button-padding-y);

  appearance: none;
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid transparent;
  border-radius: var(--controls-radius);
  cursor: pointer;
  display: inline-block;
  line-height: (20/16);
  padding: rem(var(--padding-y)) rem(var(--padding-x));
  transition: border-color 0.1s, background-color 0.1s, box-shadow 0.1s;

  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
    background-color: var(--hover-background-color);
  }

  &[disabled] {
    pointer-events: none;
    opacity: (4/5);

    > * {
      opacity: (3/5);
    }
  }

  @include focus-shadow(var(--focus-color));
}

%button._primary,
%button[type='submit'] {
  --color: var(--button-primary-color);
  --background-color: var(--button-primary-background-color);
  --hover-background-color: var(--button-primary-hover-background-color);
}

%button._bad {
  --color: var(--button-bad-color);
  --background-color: var(--button-bad-background-color);
  --hover-background-color: var(--button-bad-hover-background-color);
  --focus-color: #{fade-out($color-red, 0.8)};
}

button,
.button {
  @extend %button;
}

input[type='text'],
input[type='email'],
input[type='search'],
textarea {
  appearance: none;
  box-shadow: none;

  &::-ms-clear {
    display: none;
  }
}

input {
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: 1px solid transparent;
  border-radius: var(--controls-radius);
  line-height: (20/16);
  padding: rem(var(--input-padding-y)) rem(var(--input-padding-x));
  transition: border-color 0.1s, background-color 0.1s, box-shadow 0.1s;

  &:focus,
  &:hover {
    outline: none;
    border-color: var(--color-key);
  }

  @include focus-shadow();
}

input[type='date'],
input[type='time'] {
  --input-padding-x: 12;
  appearance: none;
  min-height: calc((20em / 16) + (10rem / 16));

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: 0;
    margin: 0;
  }

  &::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  &::-webkit-datetime-edit-minute-field,
  &::-webkit-datetime-edit-hour-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-year-field {
    padding: 0 2px;
  }
}

%placeholder {
  color: inherit;
  opacity: (2/5);
}

::placeholder {
  @extend %placeholder;
}
