// Dark ————————————————————————————————————————————————————————————————

@media (prefers-color-scheme: dark) {
  $color-black: #000;

  :root {
    --color-black: #{$color-black};

    --color-root: var(--color-black);
    --color-contrast: var(--color-white);

    --contrast-darkest: #{fade-out($color-white, 0.4)};
    --contrast-darker: #{fade-out($color-white, 0.5)};
    --contrast-dark: #{fade-out($color-white, 0.6)};
    --contrast-mid: #{fade-out($color-white, 0.7)};
    --contrast-light: #{fade-out($color-white, 0.8)};
    --contrast-lighter: #{fade-out($color-white, 0.88)};
    --contrast-lightest: #{fade-out($color-white, 0.94)};

    --color-text: var(--color-contrast);
    --color-focus: var(--color-key-50);
    --color-text-error: #{lighten($color-error, 10)};

    --button-bad-focus-color: var(--color-error-50);
  }

  a {
    &:focus,
    &:hover {
      color: var(--color-key-lighter);
    }
  }
}
