// Layout ——————————————————————————————————————————————————————————————

:root {
  --layout-measure: #{em(640)};
  --layout-base: calc(100vw - (56rem / 16));

  --space-smallest: #{rem(1)};
  --space-smaller: #{rem(2)};
  --space-small: #{rem(4)};
  --space-mid: #{rem(8)};
  --space-big: #{rem(12)};
  --space-bigger: #{rem(24)};
  --space-biggest: #{rem(36)};
}

.layout {
  width: var(--layout-base);
  max-width: var(--layout-measure);
  margin: 0 auto;
}
