// Start ———————————————————————————————————————————————————————————————

main {
  padding-top: max(0, env(safe-area-inset-top));
  padding-bottom: rem(120);
}

.list-copy {
  @extend .layout;
  color: var(--contrast-darker);
}

.list-item {
  display: block;
  box-shadow: 0 1px 0 var(--contrast-lightest);

  &-inner {
    @extend .layout;
    @include padding-y(rem(16));
  }
}

.times-item {
  @extend .list-item;

  &-inner {
    @extend .list-item-inner;
  }

  &,
  &:focus,
  &:hover {
    color: var(--color-text);
  }

  &:hover {
    background-color: var(--contrast-lightest);
  }

  &:focus {
    outline-offset: -3px;
  }
}

.times-item-label {
  font-size: min(max(1rem, 5vw), em(32));
}
.times-item-time {
  font-size: min(max(1.5rem, 8vw), em(48));
}

.bar {
  min-height: rem(44);
  box-shadow: 0 1px 0 var(--contrast-lighter);
  position: sticky;
  top: 0;
  background-color: var(--color-root);
  z-index: 1;
  -webkit-overflow-scrolling: auto;
}

.bar-block {
  @extend .layout;
  display: flex;
  align-items: center;

  h1 {
    line-height: (32/32);
    margin: rem(6) 0 rem(10);
  }
}

.bar-button {
  flex: auto;
  line-height: (20/16);
  border: none;
  padding: rem(12) rem(var(--screen-padding-x));
  max-width: calc(50% + ((1rem / 16) * var(--screen-padding-x)));
  margin-left: -rem(var(--screen-padding-x));

  &,
  &:focus,
  &:hover {
    background-color: transparent;
  }

  &:focus {
    outline-offset: -3px;
  }

  &._end {
    text-align: right;
    margin-left: auto;
    margin-right: -rem(var(--screen-padding-x));
  }
}

button.bar-button {
  @include focus-outline($offset: -3px);
}

// Counters

.counter {
  @extend .list-item;

  &-inner {
    @extend .list-item-inner;
  }
}

.counter-count {
  font-size: min(max(1rem, 12vw), em(72));
  line-height: 1;
  padding-bottom: rem(var(--space-smaller));
  font-feature-settings: 'tnum' 1;
  font-variant-numeric: tabular-nums;
  text-indent: (1em/-20);
}

// .counter-unit {
//   text-transform: uppercase;
//   font-size: em(13);
//   letter-spacing: em(300, 1000);
// }

.date-item {
  time {
    font-size: min(max(1rem, 3vw), em(24));
    margin: 0;
  }
}

.sentence-item {
  p {
    font-size: min(max(1rem, 5vw), em(36));
    margin: 0;
  }
}
