// Utilities ———————————————————————————————————————————————————————————

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@function rem($value) {
  @return (1rem * $value) / 16;
}

@function em($value, $context: 16) {
  @return (1em * $value) / $context;
}

@mixin focus-outline($color: var(--color-focus)) {
  &:focus {
    outline: 2px solid $color;
    outline-offset: 2px;
  }
}

@mixin focus-shadow($color: var(--color-focus)) {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color;
  }
}

@mixin focus-shadow-inset($color: var(--color-focus)) {
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $color;
  }
}
